backend/data/*
backend/data

# Umgebungsvariablen – niemals einchecken!
.env
 
# Node
**/node_modules/
npm-debug.log*
 
# Docker
*.log
 

# Browser-Tests (Playwright)
e2e/test-results/
e2e/playwright-report/
